<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT</title>
    <script>
        function submit_form_to_server()
        {
         var data=document.getElementById("frm")
         data.submit();
            

        }
    </script>
</head>
<body bgcolor="yellow">
    <form id="frm" method="post">
        {% csrf_token %}
    <h1>****COURSE WISE STUDENT DETIALS****</h1>
    Courses:
    <select name="courses" onchange="submit_form_to_server()">
        {% for course in courses %}
        {% if course.id == cid %}
    <option value="{{course.id}}" selected>{{course.name}}</option>
    {% else %}
    <option value="{{course.id}}">{{course.name}}</option>
    {% endif %}
    {% endfor %}
    </select></br></br>
    
    <br/><br/>
    <h2>We Have Following Students of {{cname}} given Below:</h2>
    <table border="3" bgcolor="pink" width="40%" height="40%">
        <tr>
            <th>S.No.</th>
            <th>Stu_Name</th>
        </tr>
        {% for stu in students %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{stu.name}}</td>
        </tr>
        {% empty %}
        <h3>No Student Enrolled!!</h3>
        {% endfor %}
    </table>

</form>
</body>
</html>