<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body bgcolor="yellow">
    <form method="post">
        {% csrf_token %}
    <a href="{% url 'home' %}">Back to Home</a>
    <h1 align="center">&& Register Page of LMS && </h1>
<table border="3">
    {{form}}
    <tr>
        <td>
            <button type="submit">Register</button>
        </td>
    </tr>
</table>
    </form>
</body>
</html>